@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Manrope:wght@400;500;600&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --font-family: "Bakbak One", sans-serif;
    --font-size: 1rem;
    --main-color: #EFE2E2;

}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100vw;
    height: 100vh;

    overscroll-behavior: none;

}

main{
    width: 100%;
    height: 100%;
    background: linear-gradient(139.31deg, rgba(23, 20, 20, 0.6) 22.14%, rgba(23, 20, 20, 0.6) 52.97%, rgba(23, 20, 20, 0.6) 98.39%), url(./images/background_img_2.png) center/cover no-repeat;

    color: var(--main-color);

    font-family: var(--font-family);

    overflow: hidden;
    overflow-y: scroll;
    overscroll-behavior: none;
    

}

.container{
    width: min(90%, 1280px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 5rem;
}



.title{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.title__about{
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 400;
}

.main__title{
    width: 80%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main__title-1, .main__title-2{
    display: inline-block;
    text-transform: uppercase;
    font-size: 8.75rem;
    font-weight: 400;
}

.main__title-1{

    -webkit-text-stroke: 3px var(--main-color);
    -webkit-text-fill-color: transparent;
}

.title__aim{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title__aim-proger, .title__aim-recruiter{
    display: inline-block;

    font-size: 2.25rem;
    font-weight: 500;

}


.purposes{
    align-self: flex-start;
    width: 100%;
    height: 35rem;
    position: relative;
}

.purposes ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.purposes ul li {
    flex: 1;
    list-style: none;
    font-size: 1.5rem;
    font-weight: 400;
    display: flex;
    align-items: center;
   
}

.purposes ul li .line{
    height: 1px;
    width: 2.5rem;
    background-color: var(--main-color);
    margin-right: 1.5rem;
}

.purposes ul li :where(.line, .text){
    display: block;
    
}


.purpose_1{
    
    margin-left: 15%;
}
.purpose_2{
    
    margin-left: 10%;
}
.purpose_3{
    
    margin-left: 5%;
}

.purpose_4{
    margin-left: 10%;
    
}
.purpose_5{
    
    margin-left: 15%;
}

.link__showmore{
    width: 81px;
    height: 79px;

    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateY(-50%);
    background: linear-gradient(268.83deg, #2D0404 11.68%, #B23421 53.83%, rgba(178, 52, 33, 0) 94.77%);

    border-radius: 50%;

}

.link__showmore div{
    width: 100%;
    height: 100%;

    position: relative;
}

.link__showmore div .arrow{
    display: inline-block;
    padding: 0.5rem 2.5rem;
    background: url(./images/arrow.png) center/cover no-repeat;

    position: absolute;

    top: 50%;
    right: 45%;
    transform: translateY(-50%);
}

.main__btn{

    display: inline-block;
    
    background: linear-gradient(90deg, #2D0404 17.4%, #B33421 100%);
    border-radius: 12px;
    border: 1px solid var(--main-color);

    font-size: 24px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;

    padding: 1.25rem 2.5rem;

    position: absolute;
    right: 10%;
    bottom: 5%;

}


.essence, .signup__form{
    display: none;
}

.essence.show, .signup__form.show{
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    width: 100vw;
    height: 100vh;
    overflow: hidden;

}

.signup__form.show{
    display: flex;
}


.essence__text{
    background-color: var(--main-color);
    width: 45%;
    max-height: 85%;
    overflow: hidden;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    margin: 0 auto;
    margin-top: 5%;

    padding: 3rem 2rem;
    box-shadow: 0 0 0 100rem rgba(0,0,0,0.6);
}

.close__btn, .close__signUp-btn{
    align-self: flex-end;
    padding: 1rem;
    background: url(./images/cancel_btn.png) center/cover no-repeat;

    opacity: 0.7;
}

.form__body{
    background-color: var(--main-color);

    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    margin: auto;

    border-radius: 12px;

    padding: 2rem;
    box-shadow: 0 0 0 100rem rgba(0,0,0,0.6);
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.form__data{
    display: flex;
    flex-direction: column;
    

}
.form__body .form-label{
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.form-control{
    font-size: 1.25rem;
    padding:0.5rem 1rem ;
    border-radius: 8px;
}


.form-check-control{
    margin-right: 0.3rem;
    width:  1.25rem;
    height: 1.25rem;
}

.personal__data{
    margin-top: 1rem;
    font-size: 1rem;
}

.link_to_personal{
    color: #B23421;
    text-decoration: none;
}

.form-btn{
    background: linear-gradient(90deg, #2D0404 17.4%, #B33421 100%);
    border-radius: 12px;
    border: 1px solid var(--main-color);

    color:  var(--main-color);
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;

    padding: 1rem 1.5rem;
    align-self: center;
}
