:root{
    --font-family: "Bakbak One", sans-serif;
    --font-size: 1rem;
    --main-color: #EFE2E2;

}

@media screen and (min-width: 1441px){

    .container{
        
        width: 80%;
    }


    .title{
        margin-top: 5rem;
        margin-bottom: 10rem;
    }

    .main__title{
   
        margin-bottom: 2.5rem;
    }


    .link__showmore{
        cursor: pointer;
    }

    .link__showmore:hover{
        background:  var(--main-color);
    }

    .link__showmore:hover div .arrow{ 
        background: url(./images/arrow_hover.png) center/cover no-repeat;
    }

    .main__btn{
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }

    .main__btn::before{
        content: "";
        position: absolute;
        top: var(--y);
        left: var(--x);
        transform: translate(-50%, -50%) scale(0);
        transition: transform 750ms;
        width: 150%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        opacity: 0.5;
    }
    
    .pulse::before {
        animation: pulse 500ms;
    }
    
    @keyframes pulse {
        0% { 
        transform: translate(-50%, -50%) scale(0); 
        opacity: 0.5;
        } 
    
        100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
        }
    }

    .main__btn:hover, .form-btn:hover{
        
        color: #B33421;
        background:  var(--main-color);
        cursor: pointer;
    }

    .form-btn:hover{
        
        border: 1px solid #B33421;
    }

    .main__btn:hover::before{

        background: linear-gradient(90deg, #2D0404 17.4%, #B33421 100%);
    }

    .close__btn:hover, .close__signUp-btn:hover{
        opacity: 1;
        cursor: pointer;
    }

}


@media screen and (min-width: 1024px) and (max-width: 1440px) {
    
    .container{
        width: min(90%, 1280px);
    }

    .title{
        margin-top: 2rem;
        margin-bottom: 5rem;
    }
    
    .main__title{
    
        margin-bottom: 0;
    }

    .main__title-1, .main__title-2{

        font-size: 7rem;
    }

    .link__showmore{
        cursor: pointer;
    }

    .link__showmore:hover{
        background:  var(--main-color);
    }

    .link__showmore:hover div .arrow{ 
        background: url(./images/arrow_hover.png) center/cover no-repeat;
    }

    .main__btn{
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }

    .main__btn::before{
        content: "";
        position: absolute;
        top: var(--y);
        left: var(--x);
        transform: translate(-50%, -50%) scale(0);
        transition: transform 750ms;
        width: 150%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        opacity: 0.5;
    }
    
    .pulse::before {
        animation: pulse 500ms;
    }
    
    @keyframes pulse {
        0% { 
        transform: translate(-50%, -50%) scale(0); 
        opacity: 0.5;
        } 
    
        100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
        }
    }

    .main__btn:hover, .form-btn:hover{
        
        color: #B33421;
        background:  var(--main-color);
        cursor: pointer;
    }

    .form-btn:hover{
        
        border: 1px solid #B33421;
    }

    .main__btn:hover::before{

        background: linear-gradient(90deg, #2D0404 17.4%, #B33421 100%);
    }

    .close__btn:hover, .close__signUp-btn:hover{
        opacity: 1;
        cursor: pointer;
    }

}

@media screen and (max-width: 1023px) {

    .container{
        width: min(100%, 1280px);
    }

    .title{
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
    .main__title-1, .main__title-2{

        font-size: 5rem;
    }
}

@media screen and (max-width: 900px) {

    .title__aim-proger, .title__aim-recruiter{
    
        font-size: 2rem;
    
    }

    .purpose_1{
    
        margin-left: 10%;
    }
    .purpose_2{
        
        margin-left: 10%;
    }
    .purpose_3{
        
        margin-left: 10%;
    }
    .purpose_4{
        margin-left: 10%;
        
    }
    .purpose_5{
        
        margin-left: 10%;
    }

    .essence__text{
        width: 70%;
    }
}

@media screen and (max-width: 768px) {

    .title__about{
        width: 90%;
        text-align: center;
        font-size: 1.25rem;
        
    }

    .main__title{
        width: 90%;
    }

    .main__title-1, .main__title-2{

        font-size: 3.5rem;
        
    }

    .title__aim-proger, .title__aim-recruiter{
    
        font-size: 1.5rem;
    
    }

    .purposes{
        width: min(70%, 35rem);
        position: static;
        height: 30rem;
        
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 2rem;
    }

    .essence__text{
        width: 80%;
    }

    .link__showmore{
        
        /* right: 5%; */
    }

    .main__btn{
        margin-top: 2rem;
        align-self: center;
        margin-right: 0;
    }
}

@media screen and (max-width: 768px) {
    .form__body{
        width: 95%;
    }
}