:root{
    --font-family: "Bakbak One", sans-serif;
    --font-size: 1rem;
    --main-color: #EFE2E2;

}


@media screen and (min-width: 1441px){

    .container{
        
        width: max(75%, 1440px);
    }


    .title{
        margin-top: 5rem;
        margin-bottom: 10rem;
    }

    .main__title{
   
        margin-bottom: 2.5rem;
    }


    .link__showmore{
        cursor: pointer;
    }

    .main__btn{
        cursor: pointer;
        overflow: hidden;
    }

}

@media screen and (min-width: 1024px){

    .link__showmore:hover{
        background:  var(--main-color);
    }

    .link__showmore:hover div .arrow{ 
        background: url(./images/arrow_hover.png) center/cover no-repeat;
    }
    
    .main__btn::before{
        content: "";
        position: absolute;
        top: var(--y);
        left: var(--x);
        transform: translate(-50%, -50%) scale(0);
        transition: transform 750ms;
        width: 150%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        opacity: 0.5;
    }
    
    .pulse::before {
        animation: pulse 500ms;
    }
    
    @keyframes pulse {
        0% { 
        transform: translate(-50%, -50%) scale(0); 
        opacity: 0.5;
        } 
    
        100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
        }
    }

    .main__btn:hover, .form-btn:hover{
        
        color: #B33421;
        background:  var(--main-color);
        cursor: pointer;
    }

    .form-btn:hover{
        
        border: 1px solid #B33421;
    }

    .main__btn:hover::before{

        background: linear-gradient(90deg, #2D0404 17.4%, #B33421 100%);
    }

    .close__btn:hover, .close__signUp-btn:hover{
        opacity: 1;
        cursor: pointer;
    }
}


@media screen and (max-width: 1440px) {
    
    .container{
        width: min(95%, 1280px);
        
        padding-bottom: 0;
    }

    .title{
        margin-top: 2rem;
        margin-bottom: 5rem;
    }
    
    .main__title{
    
        margin-bottom: 0;
    }

    .main__title-1, .main__title-2{

        font-size: 5rem;
    }

    .title__aim-proger, .title__aim-recruiter{

        font-size: 2rem;
   
    }

    .purposes{
        height: 25rem;
    }

    .purposes ul li {
        font-size: 1.25rem;
    }

    .purpose_1{
    
        margin-left: 10%;
    }
    .purpose_2{
        
        margin-left: 5%;
    }
    .purpose_3{
        
        margin-left: 0%;
    }
    .purpose_4{
        margin-left: 5%;
        
    }
    .purpose_5{
        
        margin-left: 10%;
    }

    .link__showmore{
        cursor: pointer;
        left: 35%;
    }

    .main__btn{
        cursor: pointer;
        overflow: hidden;
        font-size: 1.25rem;
        padding: 1rem 2rem;
    }

}

@media screen and (max-width: 1023px) {


    .title{
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
    .main__title-1, .main__title-2{

        font-size: 5rem;
    }

    .title__aim-proger, .title__aim-recruiter{
    
        font-size: 2rem;
    
    }
}

@media screen and (max-width: 900px) {


    .title__about{
        width: 90%;
        text-align: center;
        font-size: 1.25rem;
        
    }

    .main__title{
        width: 90%;
    }

    .main__title-1, .main__title-2{

        font-size: 4rem;
        
    }

    .title__aim{
        width: 90%;
    }

    .title__aim-proger, .title__aim-recruiter{
    
        font-size: 1.5rem;
    
    }

    .purposes ul li {
        font-size: 1rem;
    }

    .link__showmore{
        width: 61px;
        height: 59px;
    }

    .link__showmore div .arrow{
        display: inline-block;
        padding: 0.4rem 2rem;
    }

    .main__btn{
        font-size: 1rem;
        padding: 1rem 2rem;
    }

    .essence__text{
        width: 70%;
    }
}

@media screen and (max-width: 768px) {

    .main__title-1{

        -webkit-text-stroke: 2px var(--main-color);
    }

    .purposes ul li {
        font-size: 0.9rem;
    }

    .link__showmore{
   
        left: 45%;
    }

    .main__btn{
        font-size: 0.9rem;
        padding: 0.9rem 1.5rem;

    }

    .essence__text{
        width: 80%;
    }

}

@media screen and (max-width: 650px) {

    main{
        background: linear-gradient(139.31deg, rgba(23, 20, 20, 0.6) 22.14%, rgba(23, 20, 20, 0.6) 52.97%, rgba(23, 20, 20, 0.6) 98.39%), url(./images/background_img_2.png) 0% 0%/cover no-repeat;
    }

    .title__about{

        font-size: 1.15rem;
        
    }


    .main__title-1, .main__title-2{

        font-size: 3rem;
        
    }


    .title__aim-proger, .title__aim-recruiter{
    
        font-size: 1.25rem;
    
    }

    .link__showmore div .arrow{
        right: 40%;
    }
}

@media screen and (max-width: 550px) {

    .container{
        
        padding-bottom: 1rem;
    }


    .main__title-1{

        -webkit-text-stroke: 1px var(--main-color);
    }

    .purposes{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 3rem;
    }

    .purposes ul li .line{
        display: none;
    }

    .purpose_1{
    
        margin-left: 5%;
    }
    .purpose_2{
        
        margin-left: 10%;
    }
    .purpose_3{
        
        margin-left: 15%;
    }

    .purpose_4{
        margin-left: 20%;
        
    }
    .purpose_5{
        
        margin-left: 25%;
    }

    .link__showmore{

        width: 51px;
        height: 49px;

        top: 25%;
        left: 75%;
        transform: translateY(0);
        border: 1px solid var(--main-color);
    }

    .main__btn{
        position: static;

        font-size: 1.5rem;
        padding: 1.5rem 2rem 2rem 2rem;

    }
}

@media screen and (max-width: 480px) {

    .title__about{

        font-size: 1.2rem;
        
    }


    .main__title-1, .main__title-2{

        font-size: 2.5rem;
        
    }

    .title__aim{
        justify-content: center;
        margin-top: 1.5rem;
    }

    .title__aim-proger, .title__aim-recruiter{
    
        font-size: 1.5rem;
    
    }

    .main__btn{

        font-size: 0.85rem;
        padding: 1rem 3rem 1.3rem 3rem;

    }
}

@media screen and (max-width: 375px) {

    .title__about{

        font-size: 1rem;
        
    }


    .main__title-1, .main__title-2{

        font-size: 2rem;
        
    }

    .title__aim-proger, .title__aim-recruiter{
    
        font-size: 1.3rem;
    
    }

}